//Screens & width
$max-width: 1292px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 600px;


//Mixins
@mixin max-width{
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}
@mixin flex($flex-direction, $justify-content, $align-items : center){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: $align-items;
    height: 100%;
}
@mixin font($weight: 400, $size: 14px, $line-height: 21px, $font-family: 'Source Sans Pro', $style: normal){
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}
@mixin input-range{
    position: absolute;
    width: 100%;
   
    input[type=range]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        pointer-events: none;
        background-color: transparent;
        outline: none;
        position: absolute;
        margin: auto;
    }
    input[type="range"]::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        // height: 5px;
    }
    input[type="range"]::-moz-range-track{
        -moz-appearance: none;
        height: 5px;
    }
    input[type="range"]::-ms-track{
        appearance: none;
        height: 5px;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        background-color: $secondary;
        cursor: pointer;
        border-radius: 50%;
        pointer-events: all;
        margin-top: 3px;
    }
    input[type="range"]::-moz-range-thumb{
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $secondary;
        pointer-events: all;
    }
    input[type="range"]::-ms-thumb{
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $secondary;
        pointer-events: all;
    }
    input[type="range"]:active::-webkit-slider-thumb{
        background-color: #fff;
        border: 3px solid $secondary;
    }
    @media screen and (max-width: $md) {
        input[type=range]{
            pointer-events: all;
        }
    }
}



// Init Styles
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
    @include font;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    @include flex(row, space-between);
}
button{
    cursor: pointer;
}

.container{
    @include max-width;
    @include flex(row, space-between);
}
.button__contact{
    padding: 0rem 2rem;
    @include font(600, 16px, 50px);
}

@media screen and (max-width: $md){
    .container {
        padding: 10px 20px;
    }
}
@media screen and (max-width: $sm){
    .container{
        flex-direction: column;
    }
}